{% extends 'base.html' %}
<!-- start of block content -->
{% block content %}
<div class="container-sm">
  <div class="row-start-static width-100 height-auto">
    <p class="primary-text body-xl-bold">Registered Courses</p>
  </div>
  <div class="row-start-static width-80 height-auto">
    {% if registered %} {% for item in registered %}
    <div
      class="registered-card-sm row-start-static white-background white-border"
    >
      <div class="width-auto height-100 column-center-static">
        <img
          src="{{item.course.thumbnail.url}}"
          alt=""
          class="light-border"
          style="margin: 0"
        />
      </div>
      <div
        class="
          column-start-static
          registered-text-sm
          width-100
          height-100
          container-sm
        "
      >
        <div class="row-start-static width-100">
          <p class="primary-text body-sm-bold" style="margin: 20px 0 0px 0">
            {{item.course.name}}
          </p>
        </div>
        <div class="row-start-flexible margin-y-none width-100">
          <p class="body-sm-bold margin-y-none" style="margin: 10px 0 5px 0">
            {{item.course.category}}
          </p>
        </div>
        <div
          class="row-spaced-static margin-y-none width-100 margin-y-xxs"
          style="margin: 0px 0 0px 0"
        >
          <p class="body-sm-bold" style="margin: 0px 0 0px 0">Progress</p>
          <progress
            id="file"
            max="100"
            value="{{item.progress}}"
            class="margin-x-auto width-50 container-xxs"
            style="margin: 00px 0 0px 0"
          ></progress>
        </div>
      </div>
    </div>

    {% endfor %} {% else %}
    <div class="row-center-static w-100">
      <p class="secondary-text-text-center body-sm-bold width-100">
        You have not registered for any course
      </p>
    </div>
    {% endif %}
  </div>

  <div class="row-start-static width-100 height-auto">
    <p class="primary-text body-lg-bold">Recently Added Courses</p>
  </div>

  <div class="row-start-flexible width-80 height-100">
    {% if recent %} {% for item in recent %}
    <div
      class="
        course-card
        column-start-static
        light-border
        white-background
        margin-xxs
      "
    >
      <div class="row-start-static">
        <img src="{{item.thumbnail.url}}" alt="" />
      </div>
      <div class="course-text width-100">
        <div class="row-start-static container-x-sm width-100">
          <p class="body-sm-bold primary-text width-100">{{item.name}}</p>
        </div>
        <div class="row-start-static container-x-sm width-100">
          <p class="body-sm-bold secondary-text margin-none width-100">
            {{item.category}}
          </p>
        </div>
        <div class="row-start-static container-x-sm width-100">
          <p
            class="body-sm-bold margin-none width-100 height-auto margin-y-xxs"
          >
            {{item.created | date:'M Y'}}
          </p>
        </div>
        <div class="row-end-static width-80 margin-auto">
          <a
            href="/courses/browse/view/{{item.id}}"
            class="
              primary-button primary-border
              body-sm-bold
              container-xxs
              width-100
              text-center
            "
          >
            View
          </a>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="row-static-center w-100">
      <p class="secondary-text-text-center body-md-bold width-100">
        There are no similar courses available
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}
