{% extends 'base.html' %}
<!-- start of block content -->
{% block content %}
<div class="row-center-static container-xl">
  <div class="column-start-static white-background white-border">
    <p class="primary-text text-center width-100 subheading-bold">
      Edit Profile
    </p>
    <div class="column-start-static width-100 margin-auto">
      <img
        src="{{current_user.avatar.url}}"
        alt=""
        class="border-circle margin-y-sm"
        width="200px"
        height="200px"
        style="object-fit: cover"
      />
      <div class="row-center-static margin-y-none width-100">
        <p class="primary-text body-xl-bold text-center">
          {{current_user.username}}
        </p>
      </div>
    </div>
    <div class="row-spaced-static width-100 margin-auto">
      <div class="column-start-static width-50">
        <form
          action="/profile/update/email"
          method="POST"
          class="block-form width-100"
        >
          <label for="new_email" class="width-70 text-start container-xxs"
            >Update Email</label
          >
          <input
            type="text"
            class="width-60 text-start container-xs"
            name="new_email"
            id="new_email"
            placeholder="Enter new email here..."
          />
          <div class="width-60 row-end-static">
            <button
              class="
                primary-button
                margin-xxs
                container-xxs
                primary-border
                white-text
                width-100
                body-sm-bold
              "
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
      <div class="column-start-static width-50">
        <form
          action="/profile/update/avatar"
          method="POST"
          class="block-form margin-y-md width-100"
        >
          <label for="email" class="width-70 text-start container-xxs"
            >Update Avatar</label
          >
          <input
            type="file"
            class="width-60 text-start container-xs"
            accept="image/*"
          />
          <div class="width-60 row-end-static">
            <button
              class="
                primary-button
                margin-xxs
                container-xxs
                primary-border
                white-text
                width-100
                body-sm-bold
              "
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
